@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=fallback");

*,
html,
body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
