*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# intellij
*.iml
.DS_Store
.idea

# maven
target
overlays

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Frontend ignore rules
node_modules/
dist/
npm/
node/

# npm lock files
**/package-lock.json

# Project specific ignores
**/app/src/main/resources/static/**/*
**/app/src/main/resources/templates/**/*
