@import "~@/assets/scss/abstracts/variables";

.el-button--primary.is-plain {
	color: $global-text-color;
	border-color: $global-primary-color;
	background: $global-background;
}

.el-button--text {
	text-decoration: underline;
}

.el-button--mini {
	min-height: 25px;
	height: 25px;
	padding: 5px 20px;
	font-size: $global-font-size;

	&.is-round {
		padding: 5px 20px;
	}
}
