@import "~@/assets/scss/abstracts/variables";

.el-date-editor .el-range-separator {
	width: 10%;
}

.el-range-editor.el-input__inner {
	padding: 1px 10px;
}

.el-range-editor--mini {
	.el-range-input {
		font-size: $global-font-size;
	}

	&.el-input__inner {
		height: 25px;
	}
}
