@import "~@/assets/scss/abstracts/mixins";

.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label,
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label {
	&::before {
		content: "";
		margin: 0;
	}

	&::after {
		content: "*";
		margin-left: 4px;
		color: #f56c6c;
	}
}

.el-form-item__content {
	@include dont-break-out();
}

.el-form-item .achievement-status {
	width: 200px;
}
