@import "./common/var";

.el-notification__icon.notification-bell {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin: 4px 0 0 4px;
	background-image: url("~@/assets/images/bell.svg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.el-notification__content p {
	text-align: left;
}
