@mixin scrollbar($width, $thumb-color, $track-color: transparent) {
	// webkit specific styles
	::-webkit-scrollbar {
		width: $width;
		// for horizontal scrollbars
		height: $width;
	}

	::-webkit-scrollbar-thumb {
		background-color: $thumb-color;
	}

	::-webkit-scrollbar-track {
		background-color: $track-color;
	}
}

@mixin dont-break-out() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

@mixin text-ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin icon($src, $w, $h: $w) {
	display: inline-block;
	width: $w;
	height: $h;
	background-image: url($src);
	background-repeat: no-repeat;
	background-size: 100%;
}

$animation-id-count: 0;

@function animation-id() {
	$id: $animation-id-count;
	$animation-id-count: $id + 1 !global;

	@return animation-id-#{$id};
}

@mixin grow-animation {
	$id: animation-id();

	@keyframes grow-#{$id} {
		from {
			width: 0;
		}

		to {
			width: 100%;
		}
	}

	animation: grow-#{$id} .5s ease;
}
